<template>
  <div class="container">
    <div class="block">
      <select v-on:change="firstSelectChange" v-model="chosenFirst">
        <option v-for="currency in currencies" :key="currency.ID">
          {{currency.CharCode}}
        </option>
      </select>
      <span>{{ firstCurrency.Name }}</span>
      <input v-on:keyup="firstInputChange" v-model="firstField"/>
    </div>
    <div class="block">
      <select v-on:change="secondSelectChange" v-model="chosenSecond">
        <option v-for="currency in currencies" :key="currency.ID">
          {{currency.CharCode}}
        </option>
      </select>
      <span>{{ secondCurrency.Name }}</span>
      <input v-on:keyup="secondInputChange" v-model="secondField"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Converter',
  created () {
    fetch('https://www.cbr-xml-daily.ru/daily_json.js')
    .then((res) => res.json())
    .then((data) => {
       this.currencies = Object.entries(data.Valute).map((value) => {
         return value[1]
       })
       this.currencies.push({CharCode: "RUS", Nominal: 1, Value: 1, ID:"R111111", Name: "Российский рубль"})
       this.firstCurrency = data.Valute[this.chosenFirst];
       this.secondCurrency = data.Valute[this.chosenSecond];
    })
  },
  data () {
    return {
      firstField : "",
      secondField : "",
      currencies : [],
      chosenFirst: "BYN",
      chosenSecond: "USD",
      firstCurrency: {},
      secondCurrency: {}
    }
  },
  methods : {
    calculate (firstCurrency, secondCurrency, value) {
      return Math.round((firstCurrency.Value / secondCurrency.Value) / firstCurrency.Nominal * secondCurrency.Nominal * Number.parseInt(value) * 100) / 100
    },
    firstInputChange (event) {
       if(!isNaN(Number.parseInt(event.target.value))) {
        this.secondField = this.calculate(this.firstCurrency, this.secondCurrency, event.target.value).toString(); 
       }
       else this.secondField = "";
    },
    secondInputChange (event) {
       if(!isNaN(Number.parseInt(event.target.value))) {
        this.firstField = this.calculate(this.secondCurrency, this.firstCurrency, event.target.value).toString(); 
       } else this.firstField = "";
    },
    firstSelectChange () {
        this.firstCurrency = this.currencies.find((value) => {
            return value.CharCode === this.chosenFirst
        })
        if(!isNaN(Number.parseInt(this.secondField))) {
        this.secondField = this.calculate(this.firstCurrency, this.secondCurrency, this.firstField).toString();
        } else this.secondField = "";
    },
    secondSelectChange () {
        this.secondCurrency = this.currencies.find((value) => {
            return value.CharCode === this.chosenSecond
        })
        if(!isNaN(Number.parseInt(this.secondField))) {
          this.firstField = this.calculate(this.secondCurrency, this.firstCurrency, this.secondField).toString();
        } else this.firstField = "";
    }
  }
}
 
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    max-width: 400px;
    width: 100%;
    height: 200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .block {
    width: 130px;
    height: 60%;
    display:flex;
    margin: 5px;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
  }
  input, span, select {
    width: 130px;
  }
</style>
